[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/NothingSpecific/ImGuiFileDialog.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/NothingSpecific/ImGuiColorTextEdit.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
